<div class="container">
  <h1>Cadastro de pessoas</h1>
  <h2> <i class='fas fa-user-plus' style='font-size:36px'></i> Cadastrar Pessoa</h2>
  <form #cadastro="ngForm" (submit)="salvar()">
  <div>
      <label> <b>Nome </b></label>
      <br>
      <input type="text" id="nome" name="nome" name="nome" minlength="5" maxlength="150" [(ngModel)]="nome" class="form-control" required 
      #campo_nome="ngModel" [class.is-invalid]="campo_nome.invalid && (campo_nome.dirty || campo_nome.touched)">
      <small class="text-secondary">Insira seu nome completo.</small>
      <div *ngIf="campo_nome.invalid && (campo_nome.dirty || campo_nome.touched)" class="invalid-feedback">
          <span *ngIf="campo_nome.errors.required">O nome é obrigatório.</span>
          <span *ngIf="campo_nome.errors.minlength">
            O nome precisa ter, no mínimo, 5 caracteres.
          </span>
          <span *ngIf="campo_nome.errors.maxlength">
            O título deve ter, no máximo, 150 caracteres.
          </span>
      </div>
  </div>

  <div>
    <label> <b>Sexo</b> </label>
    <br>
    <select  name="sexo" id="sexo" [(ngModel)]="sexo" class="form-control" required>
      <option  value="Masculino" >Masculino</option>
      <option  value="Feminio" >Feminio</option>
    </select>
    <small class="text-secondary">Selecione seu Sexo.</small>

  </div>
  
  <div>
    <label> <b>Idade</b></label>
    <br>
    <input type="number" id="idade" name="idade" min="1" max="3"[(ngModel)]="idade" class="form-control" required
    #campo_idade="ngModel" [class.is-invalid]="campo_idade.invalid && (campo_idade.dirty || campo_idade.touched)">
    <small class="text-secondary">Insira sua idade.</small>
    <div *ngIf="campo_idade.invalid && (campo_idade.dirty || campo_idade.touched)" class="invalid-feedback">
        <span *ngIf="campo_idade.errors.required">
          A idade é obrigatória.
        </span>
        <span *ngIf="campo_idade.errors.maxlength">
          A idade deve conter no maximo 3 digitos.
        </span>
      </div>
  </div>

  <div>
    <label> <b>Cidade </b></label>
    <br>
    <select  name="cidade" id="cidade" [(ngModel)]="cidade" class="form-control" required>
      <option *ngFor="let cidade of listaCidades">{{ cidade }}</option>
    </select>
    <small class="text-secondary">Selecione sua Cidade.</small>
  </div>

  <div>
    <button type="submit" [disabled]="!cadastro.form.valid">Salvar</button>
  </div> 
    </form>
  <hr>
  <br>
 
  <h3>Estatisticas</h3>
  <br>
  <div>
    Pessoa mais velha : {{atividade.pessoaMaisVelha().nome}}
  </div>
  <div>
    Pessoa mais nova : {{atividade.pessoaMaisNova().nome}}
  </div>
  
  <div>
    <br>
    Media de idade Mulheres : {{atividade.mediaIdadeSexo("Feminio")}}
  </div>
  <div>
    Media de idade Homens : {{atividade.mediaIdadeSexo("Masculino")}}
  </div>
  
  <div>
    <br>
    Media idade por cidade: 
    <table>
      <tbody>
        <tr *ngFor="let cidade of listaCidades">
          <td>{{ cidade }}</td>
          <td>{{ atividade.mediaIdadeCidade(cidade)}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div>
      <br>
      Porcentagem de pessoas por sexo em cada cidade: 
      <table>
        <tbody>
          <tr *ngFor="let cidade of listaCidades">
            <td>{{cidade}}</td>
            <td>Masculino : <br>{{atividade.PorcentagemSexoCidade(cidade,"Masculino")}}%</td>
            <td>|</td>
            <td>Feminio : <br>{{atividade.PorcentagemSexoCidade(cidade,"Feminio")}} %</td>
          </tr>
        </tbody>
      </table>
    </div>



</div>
